.membership-container h2 {
  font-size: 2.5rem;
  color: #82caff;
}

.membership-container h2 strong {
  position: relative;
  display: inline-block;
  padding-bottom: 0.1em;
  width: 100%;
}

.membership-container h3 {
  color: #fff;
}

.card {
  border: none;
  border-radius: 12px; 
  overflow: hidden;
  margin-bottom: 20px;
  max-width: 320px;
  min-height: 400px;
  height: 100%;
  display: grid;
  grid-template-rows: 50px 1fr;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s; 
  border: 2px solid  #374afc;
}

.card {
  width: 100%;
}

.card:hover {
  transform: translateY(-10px); 
}

.card-header {
  display: grid;
  place-items: center;
  background-color: #374afc;
}

.card-header h4 {
  color: #fff;
  font-size: 20px; 
}

.card-body {
  padding: 20px;
  background: linear-gradient(to bottom, #000e3b, #000b2d, #17001f); 
  display: grid;
}

.card-body li {
  color: #fff;
}
.card-title {
  font-size: 2rem;
  color: #fff;
}


