.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.modal-content {
  background-color: #174da5fb;
  padding: 200px 500px 200px 500px;
  border-radius: 0.5rem;
  transform: scale(0.7);
}

.modal-hidden {
  visibility: hidden; 
  opacity: 0;
  transform: scale(0.5) ;
  transition: visibility 0s linear 0.5s, 
              opacity 0.5s ease-in-out, 
              transform 0.5s ease-in-out;
}

.modal-visible {
  visibility: visible;
  opacity: 1;
  transform: scale(1) ; 
  transition: visibility 0s linear 0s, 
              opacity 0.5s ease-in-out, 
              transform 0.5s ease-in-out;
}


.modal-icon {
  margin: auto;
  width: 500px;
  height: 500px;
  background-image: url(../Image/choose.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}



/* .play-page {
  transition: all 1.2s cubic-bezier(.49,-0.16,.62,1.33);
} */