.adventure-preview {
  height: 400px;
  width: 300px;
  background-color: #001d73;
  position: relative;
  overflow: hidden;
}

.adventure-preview:before {
  height: 600px;
  width: 600px;
  background: conic-gradient(rgb(130,202,255) 20deg, transparent 120deg);
  transform-origin: center;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: spin 4s linear infinite;
}

.adventure-preview:after {
  height: 600px;
  width: 600px;
  background-color: #001d73;
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

@keyframes spin {
  to {
    transform: translate(-50%, -50%) rotate(0);
  }
  from {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}


.adventure-preview:hover {
  height: 400px;
  /* height: 371px; */
  width: 300px;
  background-color: #359cfc;
  position: relative;
  overflow: hidden;
}

.adventure-preview:hover:before {
  height: 600px;
  width: 600px;
  background: conic-gradient(rgb(75, 10, 252) 20deg, transparent 120deg);
  transform-origin: center;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: spin 4s linear infinite;
}

.adventure-preview:hover:after {
  height: 600px;
  width: 600px;
  background: linear-gradient(-30deg, #5746dcfb, #45b1fe);
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.adventure-preview img {
  margin: auto;
  height: 400px;
  padding: 4px;
  transition: transform 0.3s ease-in-out;
}

.adventure-preview img:hover {
  transform: scale(1.1);
}
.adventure-preview:hover {
  box-shadow: 0px 0px 15px #82caff;
  border: 2px solid #5746dcfb;
}


::-webkit-scrollbar {
  width: 0;
}

.adventure-info {
    position: absolute;
    bottom: 0;
}

/*
@media screen and (max-width: 500px) {
    .adventure-preview {
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 375px) {
    .adventure-preview {
        width: 200px;
        height: 200px;
    }
}
*/

/* ===Modal=== */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.728);
  display: grid;
  place-items: center;
  z-index: 50;
}
  
.modal-content {
  max-width: 640px;
  min-height: 440px;
  width: 100%;
  display: grid;
  place-items: center;
}

.modal-hidden {
  visibility: hidden; 
  opacity: 0;
  transition: visibility 0s linear 0.5s, 
              opacity 0.5s ease-in-out, 
              transform 0.5s ease-in-out;
}
  
.modal-visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, 
              opacity 0.5s ease-in-out, 
              transform 0.5s ease-in-out;
}


.modal-icon {
  margin: auto;
  width: 400px;
  height: 400px;
  background-image: url(../Image/choose.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}
  

.modal-text {
  font-size: 24px;
}


  /* Initial style for the audio icon */
  .icon {
    /* Other styles for the icon here */
    opacity: 0.2; /* Set initial opacity to 20% */
    opacity: 0.4; /* Set initial opacity to 20% */
    transition: opacity 0.3s; /* Smooth transition effect */
    position: fixed;
    top: 90px;
    right: 140px;
    cursor: pointer;
  }

  .icon:hover {
    opacity: 1;
  }


