.gameplay-container {
    max-width: 724px;
    width: 100%;
}

.story-scrollview {
    height: 50px;
}

.gameplay-screen {
    min-height: 724px;
}

.gameplay-choice:hover {
    box-shadow: 1px 1px 10px white;
}

.progress-fill {
    height: 25px;
}

@media screen and (max-width:724px) {
    .story-scrollview {
        width: 100vw;
    }
}