.text-primary {
  color: #82CAFF;
}

.bg-primary {
  background-color: #82CAFF;
}



.bg-secondary {
  background-color: #000e3b;
}

.bg-success {
  background-color: #174EA5;
}




.logo {
  width: 50px;
  height: 50px;
  background-image: url(./Image/pathfinder-82caff.png);
  background-size: 90%;
  background-repeat: no-repeat;
}


.story-seed {
  width: 50px;
  height: 50px;
  background-image: url(./Image/console.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.ai-processing {
  width: 50px;
  height: 50px;
  background-image: url(./Image/chat-gpt.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.user-choice {
  width: 50px;
  height: 50px;
  background-image: url(./Image/choose.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.berlin-avatar {
  background-image: url(./Image/berlin-avatar-2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.frantz-avatar {
  background-image: url(./Image/frantz-avatar-3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wai-avatar {
  background-image: url(./Image/wai-avatar.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sillis-avatar {
  background-image: url(./Image/sillis-avatar-v2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

