.text-primary {
  color: #82CAFF;
}
.text-secondary {
  color: #000e3b;
}

.bg-primary {
  background-color: #82CAFF;
}

.bg-secondary {
  background-color: #000e3b;
}

.bg-success {
  background-color: #174EA5;
}



/* button-left hover */
.btn-left {
  position: relative;
  overflow: hidden;
  transition: color 0.4s;
}
.btn-left::before {
  content: '';
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: #174EA5;
  transition: right 0.4s;
  z-index: 0;
}
.btn-left:hover::before {
  right: 0;
}
.btn-left:hover {
  color: #fff;
}
.btn-left span {
  position: relative;
  z-index: 1;
}


/* button-right hover */
.btn-right {
  position: relative;
  overflow: hidden;
  transition: color 0.4s;
}
.btn-right::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #174EA5;
  transition: left 0.4s;
  /* transform: skewX(-20deg); */
  z-index: 0;
}
.btn-right:hover::before {
  left: 0;
}
.btn-right:hover {
  color: #fff;
}
.btn-right span {
  position: relative;
  z-index: 1;
}





.waves {
  /* position: absolute;
  position: relative;
  float: left;
  clear: both;
  min-height: 100vh;
  width: 100%; */
  position: fixed;
  inset: 20px 5px 30px 5px;
  min-height: 100vh;
}




.logo {
  width: 50px;
  height: 50px;
  background-image: url(./Image/pathfinder-82caff.png);
  background-size: 90%;
  background-repeat: no-repeat;
}


.story-seed {
  width: 50px;
  height: 50px;
  background-image: url(./Image/console.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.ai-processing {
  width: 50px;
  height: 50px;
  background-image: url(./Image/chat-gpt.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.user-choice {
  width: 50px;
  height: 50px;
  background-image: url(./Image/choose.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.berlin-avatar {
  background-image: url(./Image/berlin-avatar-2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.frantz-avatar {
  background-image: url(./Image/frantz-avatar-3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wai-avatar {
  background-image: url(./Image/wai-avatar.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sillis-avatar {
  background-image: url(./Image/sillis-avatar-v2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

