body {
  background-color: #000b2d;
}

button {
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 8px;
  font-weight: 700;
}

img {
  position: relative;
}

@keyframes loading-anim {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}


.loading {
  animation: loading-anim 1.1s linear infinite;
}

.text-primary {
  color: #82caff;
}
.text-secondary {
  color: #000e3b;
}

.bg-primary {
  background-color: #82caff;
}

.bg-secondary {
  /* background-color: #000e3b; */
  /* background: linear-gradient(0deg, #000e3b, #000b2d, #1e002a); */
  /* background: linear-gradient(180deg, #000e3b, #000b2d, #1e002a); */
  background: linear-gradient(180deg, #000e3b, #000b2d, #17001f);
}

.bg-success {
  background-color: #174ea5;
}

.nav-bg {
  transition: 0.25s;
}

.hover-underline {
  position: relative;
  display: inline-block;
}

.hover-underline:hover {
  color: #82caff;
}

.hover-underline::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 50%;
  background-color: #82caff;
  transition: width 0.3s ease, left 0.3s ease;
}

.hover-underline:hover::after {
  width: 100%;
  left: 0;
}

.gradient-text {
  /* background: linear-gradient(0deg, #174EA5, #45b1fe); */
  background: linear-gradient(-30deg, #53006f, #45b1fe);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

/* Common styles for both buttons */
.btn-gradient {
  position: relative;
  overflow: hidden;
  transition: color 0.4s, transform 0.4s;
  will-change: transform;
}

.btn-gradient {
  /* background-color: #82CAFF; */
  background: linear-gradient(-30deg, #470063, #374afc);
  /* background: linear-gradient(-30deg, #82CAFF, #374afc); */
  /* background: linear-gradient(0deg, rgba(22,9,240,1) 0%, rgba(49,110,244,1) 100%); */
  /* color: #000e3b; */
  color: #fff;
  border: none;
  transition: all 2s ease;
  overflow: hidden;
}
.btn-gradient:after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
}
.btn-gradient:hover {
  /* color: #fff; */
  color: #000e3b;
  border: none;
  background: transparent;
}
.btn-gradient:hover:after {
  /* background: rgb(0,3,255); */
  /* background: linear-gradient(-30deg, #470063, #374afc); */
  background: #82caff;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.waves {
  position: fixed;
  inset: 20px 5px 30px 5px;
  min-height: 100vh;
}

/* position: absolute;
  position: relative;
  float: left;
  clear: both;
  min-height: 100vh;
  width: 100%; */

.aventures-box {
  height: 320px;
  width: 240px;
  background-color: #001d73;
  position: relative;
  overflow: hidden;
}

.aventures-box:before {
  height: 400px;
  width: 400px;
  background: conic-gradient(rgb(130, 202, 255) 20deg, transparent 120deg);
  transform-origin: center;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: spin 4s linear infinite;
}

.aventures-box:after {
  height: 315px;
  width: 237px;
  background-color: #001d73;
  content: "";
  position: absolute;
  /* top: calc(50% - 70px); */
  left: 50%;
  transform: translate(-50%);
}

@keyframes spin {
  to {
    transform: translate(-50%, -50%) rotate(0);
  }
  from {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.aventures-box:hover {
  height: 320px;
  width: 240px;
  background-color: #359cfc;
  position: relative;
  overflow: hidden;
}

.aventures-box:hover:before {
  height: 400px;
  width: 400px;
  background: conic-gradient(rgb(75, 10, 252) 20deg, transparent 120deg);
  transform-origin: center;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: spin 4s linear infinite;
}

.aventures-box:hover:after {
  height: 315px;
  width: 237px;
  background: linear-gradient(-30deg, #5746dcfb, #45b1fe);
  content: "";
  position: absolute;
  /* top: calc(50% - 70px); */
  left: 50%;
  transform: translate(-50%);
}

.logo {
  width: 50px;
  height: 50px;
  background-image: url(./Image/pathfinder-82caff.png);
  background-size: 90%;
  background-repeat: no-repeat;
}

.story-seed {
  width: 50px;
  height: 50px;
  background-image: url(./Image/console.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.ai-processing {
  width: 50px;
  height: 50px;
  background-image: url(./Image/chat-gpt.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.user-choice {
  width: 50px;
  height: 50px;
  background-image: url(./Image/choose.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.small-gizmo {
  width: 40px;
  height: 40px;
}

.team-member-banner {
  /* width: 250px;
  height: 300px; */
  width: 242px;
  height: 256px;
  position: relative;
}

.team-member-name {
  position: absolute;
  bottom: 0;
}

.berlin-avatar {
  background-image: url(./Image/berlin-avatar-2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.frantz-avatar {
  background-image: url(./Image/frantz-avatar-3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wai-avatar {
  background-image: url(./Image/wai-avatar.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.silis-avatar {
  background-image: url(./Image/sillis-avatar-v2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* * {
  outline: 1px solid #ffff;
} */

